body {
}

a, a:visited {
  color:#333;
}

#container {
  padding-top:10px;
  width: 980px;
  border-left: 2px #ddd solid;
  border-right: 2px #ddd solid;
}

header {
  padding: 5px;
  padding-left:30px;
}

#book-title {
  font-family: georgia, "times new roman", times, serif;
  color: #555;
  font-size: 2.3em;
  text-align: center;
}

#intro{
  position:absolute;
  z-index:100;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background:#eee;
  color:black;
  opacity:1;
}

#intro .content{
  position:absolute;
  top:15%;
  left:50%;
  height:200px;
  width: 401px;
  z-index:200;
  opacity:1.0;
  color:#333;
}

#intro .next{
  position:absolute;
  font-size:20px;
  color:#999;
  right:-50px;
  top:50%;
  cursor:pointer;
}

#intro .next:hover{
  color:#666;
}

#intro .content .innercontent{
  position:relative;
  left:-50%;
  height:200px;
}

#text-select {
  float:right;
  margin-right: 10px;
}

#vis {
  overflow: hidden;
  position: relative;
}

#status {
  padding:0 0 20px 20px;
}

#controls {
  padding: 20px;
  background-color: #eee;
  margin: 10px;
  width: 350px;
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-node {
  /* fill: #d1e0f3; */
  fill: rgb(255,205,0);
}

#labels{
  margin-right:20px;
  margin-bottom:-65px;
  text-align:right;
  z-index:1000;
}

#labels .women{
  background:rgb(255,205,0);
}

.bubble-node .mask{
  fill:rgb(0,168,230);
}

#labels .men{
  background:rgb(0,168,230);
}

.bubble-hover {
  /* fill: #b8c7d9; */
  fill: rgb(235,255,60);
}

.bubble-hover .mask{
  fill: rgb(50,198,250);
}

.bubble-selected {
  /* fill: #a8c8ee;  */
  fill: #f66;
  /* stroke: #6081a3; */
  stroke: #eee;
  stroke-width: 1.5px;
}

.bubble-selected .mask{
  fill: #48f;
}

.active {
  color: #A6BA92
}

a.bubble-label {
  font-family: georgia, "times new roman", times, serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
}

footer p {
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  font: 13px sans-serif;
}

#obituaries{
  color:#333;
  font-size:13px;
  line-height:0px;
  font-family:"Times New Roman";
}

.obit_entry{
  display:inline-block;
  line-height:0px;
}

.obit_entry .block,#labels .block{
  display:inline-block;
  width:11px;
  height:11px;
  border-radius:6px;
  margin:2px;
}

.obit_entry .block{
  background:#ccc;
}

a:hover .block{
  /*background:#0088cc !important;*/
  border-radius:8px;
  margin:0px;
  border:2px solid #ccc;
}

.obit_entry .block.read,a:hover .block.read{
  background:#999;
  border-color:#999;
}

.obit_entry .block.nytimes_view,a:hover .block.nytimes_view{
  background:#555;
  border-color:#555;
}

.obit_entry .block.wikipedia_needed,a:hover .block.wikipedia_needed{
  background:#f40;
  border-color:#f40;
}

.obit_entry .block.wikipedia_includes,a:hover .block.wikipedia_includes{
  background:#0c4;
  border-color:#0c4;
}

ul.obit_entry{
  list-style:none;
  margin:0px;
}

#person_view p .highlight{
  background: #cef;
  padding-right:2px;
  padding-left:2px;
  border-radius:2px;
  color:#046;
}

/*
.obit_entry .f{
  background:#f77;
}

.obit_entry .m{
  background:#aaf;
}
*/

.obit_entry.selected{
  display:inline-block;
  float:left;
  width:400px;
}

.obit_record{
  width:100%;
  height:100%;
}

.obit_info{
  font-size:12pt;
  line-height:24pt;
}

.person_page .wikipedia{
  height:600px;
  width:100%;
}


/* Sidenav
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

#instructions{
  padding:10px;
}

#instructions a{
  color:#0088cc;
}

.modal .btn{
  color:white;
}

.modal a,#about_passing_on a{
  text-decoration:underline;
  color:#0088cc;
}

.research_action img,.wiki_research_action img,.full_obituary img{
  margin-right:5px !important;
}

.research_action em,.wiki_research_action em,.full_obituary em{
  color:#666;
}
